@model Depi_Project.Models.RoomType

@{
    ViewData["Title"] = "Delete Room Type";
}

<div class="container mt-4" style="max-width: 700px;">

    <h2 class="mb-4 text-danger">Delete Room Type</h2>

    <div class="card p-3 mb-3">
        <p><strong>Name:</strong> @Model.RoomTypeName</p>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Price:</strong> @Model.Price</p>
        <p><strong>People:</strong> @Model.NumOfPeople</p>
    </div>

    <form asp-action="Delete" asp-route-id="@Model.RoomTypeId" method="post">
        <button class="btn btn-danger">Yes, Delete</button>
        <a href="/Admin/RoomType" class="btn btn-secondary">Cancel</a>
    </form>

</div>
