@model Depi_Project.Models.Room

@{
    ViewData["Title"] = "Edit Room";
}

<h2>Edit Room</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="RoomId" />

    <div class="form-group">
        <label>Room Number</label>
        <input asp-for="RoomNum" class="form-control" />
        <span asp-validation-for="RoomNum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option>Available</option>
            <option>Booked</option>
            <option>Full</option>
        </select>
    </div>

    <div class="form-group">
        <label>Room Type</label>
        <select asp-for="RoomTypeId" class="form-control">
            @foreach (var type in ViewBag.RoomTypes)
            {
                <option value="@type.RoomTypeId"
                        selected="@(type.RoomTypeId == Model.RoomTypeId)">
                    @type.RoomTypeName
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Current Slide 1</label><br />
        <img src="@Model.Slide1" width="120" />
        <input type="file" name="Slide1File" class="form-control mt-2" />
    </div>

    <div class="form-group">
        <label>Current Slide 2</label><br />
        <img src="@Model.Slide2" width="120" />
        <input type="file" name="Slide2File" class="form-control mt-2" />
    </div>

    <div class="form-group">
        <label>Current Slide 3</label><br />
        <img src="@Model.Slide3" width="120" />
        <input type="file" name="Slide3File" class="form-control mt-2" />
    </div>

    <button class="btn btn-warning mt-3">Save Changes</button>
    <a href="/Admin/Room" class="btn btn-secondary mt-3">Cancel</a>

</form>
